.DS_STORE
.vagrant
coverage
node_modules
*.log*
flow-coverage
flow-typed/npm
dist
.npmrc
.eslintcache
.nyc_output
.dir-locals.el
*.swp
*.swo
*~
*.sublime-project
*.sublime-workspace
.idea
*.iml
.vscode
!keep
.processor.json
.processorrc
.services.json
.servicesrc
bundle
.process*.cache
