.rss-feeds-entity-icon {
    background: url(./times-circle-solid);
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position-x: 15px;
}

.feeds-rss-copy-icon {
    background: url(./clipboard-list-solid.svg);
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position-x: 15px;
}
